@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* *********************
    TOP BANNER STYLE
************************* */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
main{
    display: flex;
    justify-content: center;
}
.nav-bar{
    display: flex;
    background-color: blue;
    padding-top: 60px;
    padding-left: 100px;
}
.login{
    border: none;
    color: white;
    background-color: #E02C6D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 2px;
    cursor: pointer;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    margin: 15px;
    
}
.top-banner{
    display: flex;
    width: 1671px;
    height: 530px;
    margin-top: 0px;
    background-color: blue;
}
#top-title{
    padding-left: 300px;
    padding-top: 90px;
    font-size: 60px;
    color: white;
}
.top-text{
    display: list-item;
}
.top-text a{
    font-size: 16px;
    background-color: #E02C6D;
    width: 150px;
    border: none;
    color: white;
    padding: 15px 32px;
    padding-left: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.banner-pic{
    width: 556.01px;
    height: 438px;
    padding-left: 180px;
    padding-top: 70px;
    overflow: hidden;
}
.banner-pic:hover{
    transform: skew(20deg, 10deg);
    transition: transform 1s ease-in;
}

/* ******************
   PLAYERS STYLES 
***********************/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    width: 400px;
    height: 600px;
    margin-top: 70px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;

}
.player-description{
    width: 75%;
    justify-content: center;
    padding-left: 250px;
}
h3{
    color: #18191F    ;
    font-size: 28px;
    font-weight: 700px;
    padding-left: 15px;
    padding-top: 0%;
}
p{
    color: #6C6C6C;
    padding-left: 15px;
}
.player .thumbnail img{
    width: 370px;
    height: 285px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 0%;
}
.player .thumbnail p{
    padding-right: 50px;
    justify-self:right;
}
/* *********************
     BOTTOM AREA 
***********************/
.live-match img{
    width: 400px;
    height: 300px;

}
.live-match{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}
.live-match-description{
    margin-top: 5px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 48px;
}
.live-match-description h1{
    font-size: 48px;
}
.live-match-description a{
    font-size: 16px;
    background-color: #E02C6D;
    width: 150px;
}
.live-match-item{
    display: flex;
}
.live-match video{
    width: 640px;
    height: 340px;
    padding-left: 40px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* ************************
      FOOTER SECTION 
************************/
footer{
    position:relative
}
.footer img{
    width: 483px;
    height: 110px;
    margin-top: 40px;
    padding-left: 600px;
}
.footer a{
    padding-right: 10px;
}
.social-link{
    padding-left: 850px;
}
.copyright{
    padding-left: 800px;
}
