.nav-bar{
    display: flex;
    background-color: blue;
    padding-top: 60px;
    padding-left: 100px;
}
.login{
    padding-left: 500px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    margin: 15px;
    
}
.top-banner{
    display: flex;
    width: 100%;
    height: 530px;
    margin-top: 0px;
    background-color: blue;
}
h1{
    padding-left: 120px;
    padding-top: 90px;
    font-size: 60px;
    color: white;
}
.banner-pic{
    width: 556.01px;
    height: 438px;
    padding-left: 180px;
    padding-top: 70px;
}
.players img{
    width: 300px;
    height: 256px;
}
.player-grid{
    margin-top: 100px;
   grid-template-columns: repeat(3, 1fr);
}